<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [370, 340];
    Dashing.numColumns = 5;
    Dashing.cycleDashboards({timeInSeconds: 300, stagger: false, fastTransition: true});
  });
</script>

<% content_for :title do %>GreenScreen<% end %>

<!-- Page 1 -->
<div class="gridster">
  <ul>
    <%# <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> %>
    <%#   <div data-view="Clock"></div> %>
    <%#   <i class="fa fa-clock-o icon-background"></i> %>
    <%# </li> %>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="green" data-view="Number" data-title="Green Factor" style="background-color:#229944;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="factor" data-view="Meter" data-title="Gas Factor" style="background-color:#229944;" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
      <div data-id="driving_charts" data-view ="LineChart" data-title="Battery Runtime (kWh / Time)" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="fuel" data-view="Meter" data-title="Energy remaining (%)" data-min="0" data-max="100"></div>
    </li>

<%#     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> %>
<%#       <div data-id="karma" data-view="Number" data-title="Joules/hour Since Last Refill" style="background-color:#1d3461;"></div> %>
<%#     </li> %>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="city" data-view="Number" data-title="Fuel Economy (City)" data-moreinfo="kWh" style="background-color:#1d3461;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="highway" data-view="Number" data-title="Fuel Economy (Highway)" data-moreinfo="kWh" style="background-color:#1d3461;"></div>
    </li>

<%#     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> %>
<%#       <div data-id="karma" data-view="Number" data-title="Average Joules/hour (Combined)" style="background-color:#1d3461;"></div> %>
<%#     </li> %>

  </ul>
</div>

<!-- Page 2 -->
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="3">
      <div data-id="driving_charts2" data-view ="LineChart" data-title="Battery Runtime" data-moreinfo=""></div>
    </li>
  </ul>
</div>
